SPRING_PROFILES_ACTIVE=local

DB_URL=jdbc:postgresql://localhost:5432/ridely
DB_USER=
DB_PASSWORD=

JWT_SECRET=실제로_openssl_rand_base64_32_명령으로_생성한_값

GCP_PROJECT_ID=
GCP_LOCATION=
GOOGLE_APPLICATION_CREDENTIALS=gcp-credentials.json 경로

ORS_API_KEY=실제_ORS_토큰
KAKAO_REST_API_KEY=실제_Kakao_REST_키
KAKAO_JS_API_KEY=실제_Kakao_JS_키
TAAS_SERVICE_KEY=실제_공공데이터_인증키
SEOUL_OPEN_API_KEY=실제_서울_인증키